body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
overflow-x:hidden;
}


.sidebar{
position:fixed;
left:0;
top:0;
width:240px;
height:100vh;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:20px;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
margin-bottom:10px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.sidebar li:hover{
background:#00c6ff;
transform:translateX(8px);
}

/* MAIN */

.main{
margin-left:240px;
padding:30px;
}

/* TOPBAR */

.topbar{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:30px;
}

.menuBtn{
background:none;
border:none;
font-size:24px;
color:white;
cursor:pointer;
}

.search{
padding:10px 20px;
border-radius:30px;
border:none;
width:260px;
}


.welcomeCard{
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
margin-bottom:30px;
}


.card{
background:rgba(255,255,255,0.1);
border:none;
border-radius:15px;
padding:20px;
backdrop-filter:blur(10px);
transition:0.4s;
color:white;
}

.card:hover{
transform:translateY(-6px);
box-shadow:0 10px 30px rgba(0,255,255,0.3);
}


.vital{
text-align:center;
background:linear-gradient(135deg,#00c6ff,#0072ff);
}


.chartCard{
margin-top:30px;
}


.reportCard ul{
padding:0;
list-style:none;
}

.reportCard li{
padding:10px;
border-bottom:1px solid rgba(255,255,255,0.2);
}


.bioAnimation{
position:fixed;
bottom:20px;
right:20px;
width:150px;
}


@media(max-width:900px){

.sidebar{
left:-240px;
}

.main{
margin-left:0;
}

}